# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.ist
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.xdy
*.thm
*.dvi
*.ps
*.eps
*.maf
*.mtc
*.mtc0
_minted-*/
*.pyg

# macOS
.DS_Store
